<div class="header">
  <h3>Knapsack <em>Branch and Bound</em> algorithm visualization</h3>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="subcontainer">
      <!-- Grid -->
      <h4>Available Items</h4>
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>

    <div class="subcontainer">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="removeAll()">Remove all</button>
          <button type="button" class="btn btn-default" ng-click="reset()" ng-disabled="!solution">Reset</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="solveBaB()">Solve</button>
        </div>
      </div>
    </div>

    <div class="subcontainer">
      <form class="form-horizontal" role="form">
        <label for="inputCapacity" class="control-label">Capacity</label>
        <div>
          <input type="number" class="form-control" id="inputCapacity" placeholder="capacity" ng-model="ksCapacity">
        </div>
      </form>
    </div>

    <div class="subcontainer">
      <label for="inputWeight">New Item</label>
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="inputWeight">Weight</label>
          <input ng-model="newItem.weight" type="number" class="form-control" id="inputWeight" placeholder="weight">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputValue">Value</label>
          <input ng-model="newItem.value" type="number" class="form-control" id="inputValue" placeholder="value">
        </div>
        <button type="button" class="btn btn-default" ng-click="addItem()">Add</button>
      </form>
    </div>

  </div>

  <div class="col-md-6">
    <h4 ng-show="solution">Solution: {{solution.value}}</h4>
  </div>

</div>

